/* @media screen() {

  
} */


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background-color: deepskyblue;
  margin-top: 0px;
}

.nav-title-text{
  padding-left: 10px;
  height: 40px;  
}


.nav-title-text h1{
    color: white;
    font-family: Arial;
}

.nav-navigations{
  display: flex;
  flex-direction: row;
  gap: 70px;
}
 
.woman-pic{
  width: 38px;
  height: 38px;
  border-radius: 19px;
  margin-left: -10px;
}

.woman-picture{
  background-color: rgb(46, 62, 126);
  border-radius: 30px;
  width: 205px;
  justify-self: center;
  height: 38px;
  margin-left: -50px;
  margin-top: 10px;
}

.woman-picture:hover{
  cursor: pointer;
}

#woman-dropdown-menu{
  width: 205px;
  height: 200px;
  position: absolute;
  color: white;
  background-color: white;
  border-radius: 5px;
  display: inline;
  visibility: hidden;
  justify-content: center;
}

.navbar-spacing-dl{
  margin-left: -50px;
  margin-top: -5px;
}

.navbar-spacing{
  gap: 15px;
}

.whatsapp-logo{
  color: #82db29;
  margin-top: 30px;
  margin-left: 20px;
}
.whatsapp-number{
  font-family: cursive;
  margin-top: -18px;
  margin-left: 55px;
  color: darkslategray;
  font-size: small;
}
.whatsapp-logos{
  color: #82db29;
  margin-top: 12px;
  margin-left: 20px;
}
.whatsapp-numbers{
  font-family: cursive;
  margin-top: -20px;
  margin-left: 55px;
  color: darkslategray;
  font-size: small;
}

.navbar-whatsapp-icon {
  margin-top: 20px;
  margin-left: -550px;
}

.navbar-text{
  margin-top: -40px;
  color : rgb(76, 136, 248);
  font-size: 10px;
  word-spacing: -1px;
  text-align: center;
  margin-left: 15px;
  font-family: sans-serif;
}

.navbar-number{
  color: white;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 35px;
  margin-top: -20px;
}

.navbar-icon{
  margin-top: -25px;
  margin-left: 180px;
  color: white;
}

.navbar-icon:hover{
  cursor: pointer;
}

.navbar-line{
  width: 0.5px;
  height: 100px;
  background-color: white;
  margin-left: -55px;
}

.navbar-currency{
  width: 20px;
}

.navbar-currency-dl{
  margin-left: -30px;
}

.naira-sign{
  margin-left: -12px;
  margin-top: -20px;
  color: white;
  cursor: pointer;
}

.nig-flag{
  width: 40px;
  height: 25px;
  margin-left: -60px;
  margin-top: 20px;
  cursor: pointer;
}

.caret-down-naira{
  margin-left: 20px;
  color: white;
}

.caret-down-naira:hover{
  cursor: pointer;
}

#currency-dropdown-menu{
  width: 230px;
  height: 233px;
  margin-left: -180px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  display: inline;
  visibility: hidden;
}

.cash{
  margin-left: 10px;
  font-family: cursive;
  font-size: small;
  color: darkslategray;
}
.nig{
  background-color: white;
  width: 100%;
  height: 40px;
}
.niger{
  font-family: sans-serif;
  margin-top: 15px;
  background-color: white;
  height: 40px;
}
.niger:hover{
  background-color: deepskyblue;
  transition: 0.2s;
}
.eur{
  width: 100%;
  height: 40px;
  background-color: white;
  margin-top: -15px;
}
.eur:hover{
  background-color: deepskyblue;
  transition: 0.2s;
}
.usdt{
  width: 100%;
  height: 40px;
  background-color: white;
  margin-top: -15px;
}
.usdt:hover{
  background-color: deepskyblue;
  transition: 0.2s;
}
.british{
  width: 100%;
  height: 40px;
  background-color: white;
  margin-top: -15px;
}
.british:hover{
  background-color: deepskyblue;
  transition: 0.2s;
}

.acct-icon{
  margin-top: 30px;
  margin-left: -60px;
  color: white;
  cursor: pointer;
}

.navbar-acct{
  margin-top: -20px;
  margin-left: -20px;
  color: white;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caret-down-acct{
  color: white;
  margin-left: 65px;
  margin-top: 30px;
}

.caret-down-acct:hover{
  cursor: pointer;
}

#acct-dropdown-menu{
  width: 205px;
  height: 145px;
  margin-left: -120px;
  margin-top: 11px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  visibility: hidden;
  display: inline;
  position: absolute;
}

.sign-in-text{
  margin-left: 15px;
  margin-top: 15px;
  font-family: sans-serif;
  color: darkslategray;
  font-size: small;
  line-height: 20px;
 }
 .sign-in-button{
  width: 195px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  background-color: skyblue;
  margin-left: 5px;
  color: white;
  border: none ;
 }
.sign-in-button:hover{
  background-color: deepskyblue;
  transition: 0.5s;
}
.sign-up-text{
  font-family: sans-serif;
  color: darkslategray;
  font-size: small;
}

   .p1 {
    color : deepskyblue;
    font-size: 12px;
    word-spacing: -1px;
    text-align: center;
    border: 30px;
    background-color: rgb(55, 55, 154);
    border-radius: 30px;
    width: 205px;
    margin-left: 30px; 
   }
  .p2 {
    color: white;
    text-align: center;
  }
  .p3 {
    margin-top: 0px;
    margin-left: 55px;
    color: white;
  }
  .re {
    border: 1px solid white;
    width:88px;
    height: 65px;
    background-color: deepskyblue;
    margin-right: 0px;
    
  }
  .op {
    margin-top: -25px;
    margin-left: 60px;
    color: white;
  }

  .hover-blue{
    display: flex;
    flex-wrap: wrap;
  }

  .j {
    height: 65px;
    width: 238px;
  }
    .pop{
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .k {
    width: 199.5px;
    height: 65px;
  }
  .non {
    color: red;
    margin-top: 10px;
  }
  .qe {
    color: gray;
    font-weight: bold;
    margin-left: -110px;
    background-color: white;
    width: 150px;
    height: 150px;
    font-family: cursive;
    font-size: small;
    border-radius: 5px;
  }
  .btn {
    background-color: deepskyblue;
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: white;
  }
  .summary {
    border: 1px solid black;
  }
  .f{
    box-shadow: -1px 1px 15px black;
    background-color: white;
    width: 1081px;
    height: 121px;
    border: blue;
    margin-top: -60px;
    margin-left: 90px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  }
  .destination-text{
    margin-top: -200px
  }
  .colonel {
    background-color: skyblue;
    border-radius: 4px;
    border: skyblue;
    width: 100px;
    height: 50px;
  }
  .colonel:hover{
    transition: 0.3s;
  }
  .f form input{
    padding: 14px 130px 14px;
    margin-top: 40px;
    border-radius: 4px thin;
  }
  .f form input:first-child{
    margin-left: 50px;
  }
  .p {
    color: darkslategray;
    margin-top: 350px;
    text-align: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .d {
    text-align: center;
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .z {
    background-color: deepskyblue;
    width: 40px;
    height: 2.7px;
    margin-left: 600px;
    margin-bottom: -40px;
    position: relative;
  }
  button:hover {
    background-color: deepskyblue;
    color: white;
  }
  .bun {
    border: 2px solid deepskyblue;
    width: 150px;
    height: 100px;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
    font-size: 17px;
    color: deepskyblue;
  }
  .bun:hover{
    transition: 0.2s;
  }
  .bun b {
    padding: 14px 130px 14px;
  }
  .ed {
    color: black;
    font-size: medium;
  }
  .ed:hover {
    color: white;
  }
  .is {
    border: 2px solid deepskyblue;
    width: 150px;
    height: 100px;
    margin-left: 150px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
    font-size: 17px;
    color: deepskyblue;
  }
  .jk {
    background-color: white;
    margin-left: 500px;
  }
  .qt  {
    font-size: 25px;
  }
   .t {
    margin-left: 180px;
  }
  .gt{
    margin-left: 180px;
    margin-top: -70px;
  }
  .nt{
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  details{
    position: absolute;
  }
  .non{
    color: white;
    margin-top: -30px;
    margin-left: 180px;
    direction: ltr;
    background: transparent;
  }
  .bun:hover{
    color: white;
  }
  .z{
    margin-bottom: -40px;
    margin-top: 20px;
  }
  .t{
    margin-top: -40px;
  }
  .qt{
    margin-left: 50px;
  }
  .igbo{
    width: 150px;
    height: 25px;
    background-color:  darkred;
    color: white;
    margin-left: -8px;
    margin-top: -5px;
  }
  .sd{
    margin-left: 10px;
    padding-top: 0px;
  }
  .lc{
    width: 5px;
    height: 3px;
    background-color:  darkred;
    opacity: 90%;
    transform: skewX(45deg);
    margin-left: -7px; 
    position: relative;
  }
  .ll{
    margin-left: 200px;
    font-size: x-large;
    text-align: center;
    font-style:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .nn{
    margin-left: 450px;
    margin-top: 150px;
  }
  .tt{
    font-size: x-large;
    font-family: sans-serif;
    color: darkslategrey;
    font-weight: bold;
  }
  .ts{
    font-size: large;
    font-family: sans-serif;
    color: darkslategrey;
    margin-left: 25px;
    margin-top: -10px;
  }
  .ia{
    margin-top: 25px;
  }
  #button-section:hover{
    background-color: red;
  }
  #button-section{
    width: 300px;
    height:70px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    position: absolute;
    background-color: blue;
    visibility: hidden;
    display: block;
  }
  .popup-property{
    margin-top: -200px;
  }
  .lagos-city{
    width: 300px;
    border-radius: 5px 5px 5px 5px;
  }
  .general-layout{
    margin-left: 100px;
    justify-content: space-evenly;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 25% 25% 25%;
    width: 65em;
  }
  .iaa{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin-left: 120px;
  }
  .distinct{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin-left: 50px;
  }
  .iaaa{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin-left: 80px;
    margin-top: 0px;
  }
  .ie{
    margin-left: 190px;
    margin-top: 130px;
  }
  .huy{
    position: absolute;
  }
  .ik{
    margin-left: 450px;
    width: 500px;
    font-family: cursive;
    background-color: white;
    margin-top: 60px;
  }
  .ikk{
    font-size: x-large;
  }
  .ikkk{
    font-size: large;
    margin-left: 40px;
  }
  .ql{
    margin-bottom: -40px;
    margin-top: 30px;
    margin-left: 630px;
    width: 50px;
    height: 3px;
  }
  .mn{
    margin-top: 20px;
  }
  .vv{
    margin-top: 50px;
  }
  .nm{
    margin-top: 20px;
  }
  .bb{
    margin-top: 20px;
    margin-bottom: -30px;
  }
  .bbc{
    margin-top: -30px;
  }
  .cbb{
    margin-top: 20px;
  }
  .cbc{
    margin-top: 20px;
  }
  .vn{
    margin-top: 20px;
  }
  .ot{
    background-color: white;
    margin-left: 170px;
  }
  .ttt{
    margin-top: 100px;
    width: 1263px;
    background-color: whitesmoke;
    height: 200px;
  }
  .ttn{
    margin-left: 500px;
    font-size: x-large;
    font-family: sans-serif;
    color: darkgray;
    margin-top: 10px;
  }
  .noo{
    color: darkslategrey;
    font-size: x-large;
    font-family: sans-serif;
    margin-top: 70px;
    margin-left: 450px;
    font-weight: bold;
  }
  .ttj{
    font-size: medium;
    font-family: sans-serif;
    margin-left: 470px;
    margin-top: -35px;
    color: darkslategray;
  }
  .bh{
    background-color: whitesmoke;
    margin-left: 400px;
  }
  .mmb{
    margin-left: 400px;
    color: blue;
    border-radius: 5px;
    margin-top: -40px;
  }
  .bhh{
    width: 300px;
  }
  .none{
    margin-left: 110px;
    margin-top: -35px;
  }
  .mara{
    margin-left: 300px;
    background-color: whitesmoke;
    margin-top: -10px;
  }
  .mard{
    background-color: skyblue;
    border-radius: 4px;
    border: skyblue;
    width: 120px;
    height: 40px;
    color: white;
    margin-left: 812px;
    margin-top: -50px;
  }
  .mard:hover{
    background-color: deepskyblue;
  }
  .mara form input{
    width: 400px;
    height: 34px;
    border-radius: 10px thin;
    margin-left: 90px;
    margin-top: 15px;
  }
  .mar{
    display: flex;
    flex-direction: column;
  }
  .bth{
    background-color: white;
    margin-left: 530px;
    margin-top: 130px;
  }
  .pre{
    font-size: x-large;
    font-family: sans-serif;
    font-weight: thick;
    color: darkslategray;
  }
  .lq{
    margin-left: 630px;
    width: 40px;
    height: 3px;
    margin-top: -20px;
  }
  .llu{
    margin-left: 450px;
    background-color: white;
    margin-top: 300px;
  }
  .mu{
    font-size: x-large;
    font-family: sans-serif;
    font-weight: thick;
    color: darkslategray;
  }
  .mmu{
    font-size: large;
    font-family: sans-serif;
    font-weight: thick;
    color: darkslategray;
    margin-left: -40px;
  }
  .mmmu{
    background-color: skyblue;
    border-radius: 4px;
    border: skyblue;
    width: 200px;
    height: 40px;
    color: white;
    margin-left: 530px;
    margin-top: 40px; 
  }
  .great{
    background-color: white;
    margin-top: 80px;
  }
  .grt{
    width: 1263px;
    height: 500px;
  }
  .cir{
    margin-top: 434px;
    width: 1263px;
    background-color: rgb(39, 39, 154);
    height: 90px;
  }
  .ttv{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 170px;
    margin-top: 20px;
  }
  .bv{
    color: white;
    font-size: large;
    font-family: sans-serif;
    margin-top: -50px;
    margin-left: 225px;
  }
  .mv{
    font-size: medium;
    color: deepskyblue;
    margin-left: 225px;
    margin-top: -10px;
  }
  .bxx{
    color: blue;
  }
  .nv{
    margin-left: 120px;
    color: darkgray;
  }
  .cbx{
    margin-top: 20px;
  
  }
  .nvv{
    margin-left: 140px;
    color: darkgray;
  }
  .nvvv{
    margin-left: 140px;
    color: darkgray;
  }
  .mre{
    margin-left: 140px;
    color: darkgray;
  }
  .mr{
    margin-left: 140px;
    color: darkgray;
  }
  .non{
    background: transparent;
    outline: none;
  }
  .bxf{
    width: 1050px;
    margin-left: 120px;
    background: white;
    margin-top: -15px;
    position: absolute;
    height: 0px;
  }
  .jh{
    margin-left: 120px;
    background-color: white;
    color: deepskyblue;
    margin-top: 40px;
  }
  .hgy{
    background-color: white;
    color: deepskyblue;
    margin-top: 40px;
    margin-left: -20px;
  }
  .sdt{
    background-color: white;
    color: deepskyblue;
    margin-top: 40px;
    margin-left: -20px;
  }
  .bvh{
    background-color: white;
    color: deepskyblue;
    margin-top: 40px;
    margin-left: -20px;
  }
  .ffg{
    background-color: white;
    color: deepskyblue;
    margin-top: 40px; 
  }
  .xct{
    margin-top: -40px;
  }
  .mny{
    background-color: white;
    margin-top: 220px;
    width: 1050px;
    margin-left: 120px;
  }
  .mkj{
    background-color: white;
    margin-left: 120px;
    margin-top: -40px;
    font-family: sans-serif;
    color:  darkslategray;
    font-size: medium;
  }
  .bvc{
    display: flex;
    flex-direction: row;
  }
  .fjy{
    background-color: white;
  }
  .nfd{
    font-family: sans-serif;
    color:  darkslategray;
    margin-top: -32px;
    margin-left: 650px;
    font-size: small;
  }
  .bvv{
    margin-bottom: -40px;
    margin-top: 110px;
    margin-left: -50px;
    width: 40px;
    height: 3px;
  }
  .tyt{
    margin-top: -40px;
    margin-left: 650px;
    color: #82db29;
  }
  .hj{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    position: absolute;
    margin-left: 14px;
    margin-top: 10px;
  }
  .oo{
    margin-top: -30px;
    margin-left: -25px;
    color: white;
  }
  .hff{
    width: 40px;
    height: 25px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .is:hover{
    color: white;
    background-color: deepskyblue;
    transition-delay: 0.1s;
  }
  .smi{
    width: 330px;
    height: 180px;
  }
  .hot{
    margin-left: 0px;
    margin-top: -10px;
    background-color: white;
    height: 90px;
    border: 1px solid darkslategray;
    border-radius: 5px;
    width: 328.5px;
  }
  .hote{
    font-family: cursive;
    font-size: larger;
    color: red;
    margin-left: 10px;
  }
  .hotel{
    font-size: large;
    margin-top: -10px;
    margin-left: 10px;
    color: darkslategrey;
    font-family: sans-serifs;
  }
  .kjl{
    margin-left: 50px;
  }
  .bve{
    margin-top: 50px;
    margin-left: 50px;
  }
  .tut{
    margin-top: -28px;
    margin-left: 130px;
    color: white;
  }
  .bvr{
    background-color: white;
    margin-top: 50px;
    margin-left: 190px;
  }
  .lqw{
    width: 120px;
    height: 40px;
  }
  .bbc{
    background-color: white;
    margin-top: 50px;
    margin-left: -5px;
  }
  .bccx{
    width: 120px;
    height: 35px;
  }
  .iop{
    background-color: white;
    margin-top: 46px;
    margin-left: -20px;
  }
  .poi{
    width: 250px;
    height: 55px;
  }
  .bab{
    background-color: white;
    margin-top: 34px;
    margin-left: 100px;
  }
  .hah{
    width: 130px;
    height: 100px;
  }
  .tooth{
    margin-top: -30px;
    margin-left: 45px;
    color: white;
    position: absolute;
  }
  .tooth:hover{
    cursor: pointer;
  }
  .nvn{
    margin-top: -43px;
    margin-left: 90px;
    color: white;
  }
  .nvn:hover{
    cursor: pointer;
  }
  .tut:hover{
    cursor: pointer;
  }
  .smi:hover{
    color: aquamarine;
    transition: 0.2s;
  }
  #Account-hover{
    width: 205px;
    height: 145px;
    margin-left: 1020px;
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
  }
 .sign{
  margin-left: 15px;
  margin-top: 15px;
  font-family: sans-serif;
  color: darkslategray;
  font-size: small;
  line-height: 20px;
 }
 .new{
  width: 195px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  background-color: skyblue;
  margin-left: 5px;
  color: white;
  border: none ;
 }
.new:hover{
  background-color: deepskyblue;
  transition: 0.5s;
}
.here{
  font-family: sans-serif;
  color: darkslategray;
  font-size: small;
}
.noff{
  width: 330px;
  height: 180px;
  margin-left: 50px;
  margin-top: 60px;
  opacity: 0%;
  background-color: black;
}
.noff:hover{
  background-color: black;
  opacity: 30%;
  transition: 0.5s;
}
.bok{
  width: 200px;
  height: 45px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: medium;
  margin-left: 45px;
  margin-top: 15px;
  font-family: sans-serif;
}
.bok:hover{
  transition: 0.3s;
  cursor: pointer;
}
#tick{
  background-color: white;
}
#tick:hover{
  visibility: visible;
  animation: ease-in;
}
.blur{
  position: absolute;
  margin-top: 460px;
  margin-left: 650px;
  background-color:  rgb(39, 39, 154);
  height: 0px;
}
#email{
  border: none;
  color:  rgb(94, 94, 200);
  background-color:  rgb(141, 141, 231);
  width: 270px;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
}
#email:hover{
  border: 0px thin rgb(39, 39, 154);
}
#unlock{
  margin-left: 273px;
  margin-top: -42px;
  height: 42px;
  width: 180px;
  background-color: deepskyblue;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: white;
}
#unlock{
  background-color: rgb(55, 161, 210);
}
.booking-hotels{
  height: 350px;
  width: 80%;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.hover-effect{
  width: 330px;
  height: 180px;
  position: absolute;
  opacity: 0%;
}
.hover-effect:hover{
  opacity: 30%;
  background-color: black;
  transition: 0.5s;
}
.writings{
  border: 4px solid black;  
}
.writings-1{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.pt{
  background-color: white;
  margin-left: -30px;
}
.ppt{
  color: deepskyblue;
  font-family: sans-serif;
  font-size: large;
  margin-bottom: 4px;
}
.pppt{
  color: grey;
  font-size: small;
  font-family: sans-serif;
  margin-top: 4px;
}